{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "tmpDir": "report/",
    "logs": {
        "text": "report/logs/infection-text.log",
        "summary": "report/logs/infection-summary.log"
    },
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "src/Application/Domain/Models/Commons/Uuid.php"
        ]
    },
    "timeout": 10,
    "mutators": {
        "@default": true,
        "BCMath": false,
        "CastInt": false,
        "CastFloat": false,
        "CastString": false,
        "InstanceOf_": false,
        "CloneRemoval": false,
        "PublicVisibility": false,
        "MethodCallRemoval": false
    },
    "testFramework": "phpunit"
}
