parameters:
  paths:
    - src
  level: 9
  tmpDir: report/phpstan
  excludePaths:
    - src/Application/Domain/Models/Commons/Utc.php
  ignoreErrors:
    - '#No value type specified in iterable type#'
    - '#with no value type specified in iterable type array#'
    - '#expects array, mixed given#'
  reportUnmatchedIgnoredErrors: false
