<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         stopOnFailure="false"
         executionOrder="default"
         cacheResultFile="report/.phpunit.result.cache"
         processIsolation="false"
         backupStaticProperties="false">

    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Routes.php</file>
            <file>src/Dependencies.php</file>
        </exclude>
    </source>

    <php>
        <env name="MYSQL_DATABASE_HOST" value="cheap-delivery-adm"/>
        <env name="MYSQL_DATABASE_PORT" value="3306"/>
        <env name="MYSQL_DATABASE_NAME" value="cheap_delivery_adm_test"/>
        <env name="MYSQL_DATABASE_USER" value="root"/>
        <env name="MYSQL_DATABASE_PASSWORD" value="root"/>
    </php>

</phpunit>
