<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnRisky="true"
         failOnWarning="true"
         executionOrder="random"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true">

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/Routes.php</file>
            <file>src/Environment.php</file>
            <file>src/Dependencies.php</file>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <xml outputDirectory="report/coverage/coverage-xml"/>
            <html outputDirectory="report/coverage/coverage-html"/>
            <text outputFile="report/coverage.txt"/>
            <clover outputFile="report/coverage-clover.xml"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="report/coverage/junit.xml"/>
    </logging>

    <php>
        <env name="CHEAP_DELIVERY_HOST" value="cheap-delivery.localhost"/>

        <env name="DATABASE_HOST" value="cheap-delivery-adm-test"/>
        <env name="DATABASE_PORT" value="3306"/>
        <env name="DATABASE_NAME" value="cheap_delivery_adm_test"/>
        <env name="DATABASE_USER" value="root"/>
        <env name="DATABASE_PASSWORD" value="root"/>
    </php>

</phpunit>
