name: CI

on:
  pull_request:

permissions:
  contents: read

env:
  PHP_VERSION: '8.5'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
          extensions: bcmath
          tools: composer:2

      - name: Validate composer.json
        run: composer validate --no-interaction

      - name: Install dependencies
        run: composer install --no-progress --optimize-autoloader --prefer-dist --no-interaction

      - name: Upload vendor and composer.lock as artifact
        uses: actions/upload-artifact@v6
        with:
          name: vendor-artifact
          path: |
            vendor
            composer.lock

  auto-review:
    name: Auto review
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
          extensions: bcmath
          tools: composer:2

      - name: Download vendor artifact from build
        uses: actions/download-artifact@v7
        with:
          name: vendor-artifact
          path: .

      - name: Run review
        run: composer review

  tests:
    name: Tests
    runs-on: ubuntu-latest
    needs: auto-review

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Configure PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
          extensions: bcmath
          tools: composer:2

      - name: Download vendor artifact from build
        uses: actions/download-artifact@v7
        with:
          name: vendor-artifact
          path: .

      - name: Clean up Docker
        run: docker system prune -f

      - name: Create Docker network
        run: docker network create cheap-delivery-test_default

      - name: Create Docker volume for migrations
        run: docker volume create cheap-delivery-adm-migrations

      - name: Run tests
        run: |
          docker run -u root --name cheap-delivery-test --network=cheap-delivery-test_default \
            -v ${PWD}:/app \
            -v ${PWD}/config/database/mysql/migrations:/cheap-delivery-adm-migrations \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -w /app \
            gustavofreze/php:${{ env.PHP_VERSION }}-alpine bash -c "composer tests"
